In [11]:
# there are two methode for represent the sets or declare
set_A={'a','b','c','d'}
set_B=set(['e','f','g','h'])
print(set_A)
print(set_B)

{'d', 'b', 'a', 'c'}
{'h', 'e', 'f', 'g'}

In [10]:
# iteration on set element 
# the is unrdered fr this reson it does not follow indexing
for i in set_A:
    print(i)
for j in set_B:
    print(j)

d
b
a
c
h
e
f
g

In [18]:
# hw to update set element
set_A.add('naved''jabved')
set_A.update(set_B)
print(set_A)

{'c', 'd', 'b', 'a', 'g', 'navedjabved', 'f', 'naved', 'h', 'e'}

In [24]:
set_A.add('adsahs')

In [25]:
print(set_A)

{'adsahs', 'c', 'd', 'b', 'a', 'g', 'navedjabved', 'f', 's', 'naved', 'h', 'e'}

In [29]:
# what is right methode to create a empty set or set
empty_A=set()
empty_B={}
empty_A.add('mohd')
print(empty_A)
empty_B.add('NAVED')  # ON THIS LINE GIVE THE EEROR BECAUSE SET empty_A is not created
print(empty_B)

{'mohd'}

AttributeError: 'dict' object has no attribute 'add'

In [35]:
# operation on set
even_set=set(range(0,10,2))
odd_set=set(range(1,10,2))
print(even_set)
print(odd_set)
print(even_set.union(odd_set))    #union operation use in this program
print()
set_A={1,2,4,6,7,8,}
set_B={1,4,6}
print(set_A.intersection(set_B))  # HERE ARE TWO METHODE FOR INTERSECTION
print(set_A&set_B)
print()
print(set_A.difference(set_B))    # HERE ARE TWO METHODE FOR DIFFRENCE
print(set_A-set_B)

{0, 2, 4, 6, 8}
{1, 3, 5, 7, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 4, 6}
{1, 4, 6}

{8, 2, 7}
{8, 2, 7}

In [ ]:
A=[1,5,4,2,8,0]
B={2,6,7,5}